@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
    background: rgb(255, 255, 255) url("https://wallpaperaccess.com/full/2471303.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}